<div class="page-header">
	<h1>Payments</h1>
</div>
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<div id="payment-panel">
			<div class="row">
				<div class="col-xs-12">
					<select ng-model="payment.userId" ng-controller="UsersController" class="form-control">
						<option value="select">Select User</option>
						<option value="{{user.id}}" ng-repeat="user in users">{{user.name}}</option>
					</select>
				</div>
			</div>
			<div id="payment-form-panel" ng-if="payment.userId!='select'" class="row">
				<div class="col-sm-12">
					<div class="row" ng-controller="DateController">
						<div class="col-xs-6">
							<select ng-model="payment.fromMonth" class="form-control">
								<option value="from">From</option>
								<option ng-repeat="month in months">{{month}}</option>
							</select>
						</div>
						<div class="col-xs-6">
							<select ng-model="payment.toMonth" class="form-control">
								<option value="to">To</option>
								<option ng-repeat="month in months">{{month}}</option>
							</select>
						</div>
					</div>
					<div class="row" ng-controller="PaymentModesController">
						<div class="col-xs-6">
							<select ng-model="payment.mode" class="form-control">
								<option value="default">Payment Mode</option>
								<option value="{{mode}}" ng-repeat="mode in modes">{{mode|uppercase}}</option>
							</select>
						</div>
						<div class="col-xs-6">
							<input ng-model="payment.paymentDt" class="form-control" placeholder="PaymentDt dd/mm/yy"/>
						</div>
					</div>
					<div ng-switch="payment.mode" id="payment-modes-panel" class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<input ng-model="payment.amountPaid" class="form-control" placeholder="Amount Paid"/>
								</div>
							</div>
						<!-- CHEQUE -->
						<div class="row" ng-switch-when="cheque">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12">
										<textarea ng-model="payment.bankdetails" placeholder="Bank Details" class="form-control" rows="3" cols=""></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<input class="form-control" ng-model="payment.chequeNo" placeholder="Cheque No"/>
									</div>
									<div class="col-xs-6">
										<input class="form-control" ng-model="payment.chequeDt" placeholder="Date On Cheque"/>
									</div>
								</div>
							</div>
						</div>
						<!-- NET BANKING -->
						<div class="row" ng-switch-when="netbanking">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12">
										<textarea class="form-control" ng-model="payment.bankDetails" rows="3" cols="" placeholder="Bank Details"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<input class="form-control" ng-model="payment.referenceNo" placeholder="Reference No"/>
									</div>
									<div class="col-xs-6">
										<input class="form-control" ng-model="payment.accountNo" placeholder="Account No"/>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4" ng-if="payment.userId!='select'">
		<div class="row">
			<div class="col-xs-12">
				<div class="glyphicon glyphicon-floppy-disk save-btn"></div>
			</div>
		</div>
	</div>
</div>