<div layout="row">
	<div flex="30">
		<md-card class="md-padding md-whiteframe-5dp">
			<md-card-title>
				<md-card-title-text layout="row" class="md-primary" layout-align="center">
					<h3 class="card-title">{{modeType.title}}</h3>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-input-container class="custom-input-container">
					<label>Name</label>
					<input ng-model="resident.name"/>
				</md-input-container>
				<md-input-container class="custom-input-container">
					<label>Flat No</label>
					<input ng-model="resident.flatNo"/>
				</md-input-container>
				<md-input-container class="custom-input-container">
					<label>Contact No</label>
					<input ng-model="resident.contactNo"/>
				</md-input-container>
				<md-input-container class="custom-input-container">
					<label>Area</label>
					<input ng-model="resident.area"/>
				</md-input-container>
			</md-card-content>
			<md-card-actions layout="row" layout-align="center">
				<md-button ng-if="modeType.type=='add'" ng-click="add()" class="md-raised md-primary md-hue-2">ADD</md-button>
				<md-button ng-if="modeType.type=='edit'" ng-click="update()" class="md-raised md-accent md-hue-3">Update</md-button>
				<md-button ng-if="modeType.type=='edit'" ng-click="resetmodeType()" class="md-raised">Cancel</md-button>				
			</md-card-actions>
		</md-card>
	</div>
	<div flex="70">
		<div class="dues-tile-grid users-tile-grid">
			<md-grid-list
			        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
			        md-row-height-gt-md="1:1" md-row-height="2:2"
			        md-gutter="12px" md-gutter-gt-sm="8px">
			    <md-grid-tile ng-click="switchToEditmodeType(resident)" class="green" ng-repeat="resident in residents"  md-colspan="2" md-rowspan="2">
						<img src="images/users/UserImg2.png" width="141"/>
					      <md-grid-tile-footer>
					        <h3>{{resident.name}}</h3>
					        <h3>{{resident.flatNo}}</h3>
					        <h4>{{resident.contactNo}}</h4>
					      </md-grid-tile-footer>
			    </md-grid-tile>
			</md-grid-list>
		</div>
	</div>
</div>