@CHARSET "UTF-8";

.amount-payable-container{
	float: right;
	margin-right: 9%;
	margin-top: 1%;
	font-family: Arial;
}

.amount-payable-container .label{
	font-size: 20px;
}

.amount-payable-container .amount{
	font-size: 18px;
	color: #106CC8;
}

.payments-error-msg-container{
	width: 20%;
	float: left;
	margin-left: 10%;
	margin-top: 2%;
}

.error-container{
	border: solid 1px #DE3641;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #e29599;
	color: #DE3641;
	font-family: Arial;
}

.edit-user-container {
	width: 30%;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.actions-panel {
	padding: 10px 0px 20px 0px;
	font-family: Arial;
}

.actions-panel>div {
	float: left;
}

.actions-panel .delete {
	margin-left: 10px;
}

.users-panel-container {
	width: 25%;
	height: 40px;
	float: right;
	margin-top: 20px;
	margin-right: 120px;
}

.users-panel-container .panel-header {
	font-size: 25px;
	padding: 10px;
	border: solid 1px #106CC8;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #106CC8;
	color: white;
	font-family: Arial;
}

.panel-item {
	border: solid 1px #BFBFBF;
	padding: 10px;
	background-color: #F6F6F6;
}

.panel-item:HOVER {
	border: solid 1px #DE3641;
	padding: 10px;
	background-color: #DE3641;
	color: white;
	cursor: pointer;
}

.panel-item .name {
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
}

.panel-item .contact-no {
	font-size: 15px;
	font-family: Arial;
}

.panel-item .flat-no {
	font-size: 15px;
	font-family: Arial;
}

body {
	
}

.site-title {
	font-size: 30px;
	font-family: Arial;
	width: 100%;
	color: #DE3641;
	font-weight: bolder;
}

.header-panel {
	width: 100%;
	height: 40px;
	background-color: #106CC8;
	font-size: 25px;
	padding-top: 10px;
	font-family: Arial;
	text-align: center;
	color: white;
}

.header-tab {
	width: 25%;
	float: left;
}

.header-tab a {
	text-decoration: none;
	color: white;
}

.header-tab:HOVER {
	border-bottom: solid 2px white;
	cursor: pointer;
}

.users-container {
	width: 30%;
	height: 20%;
	padding-top: 20px;
	padding-left: 20px;
	float: left;
}

.user-details-container {
	width: 40%;
	float: right;
}

.users-table {
	border: solid 1px #bfbfbf;
	padding: 10px;
	background-color: #F6F6F6;
}

.payments-table {
	left: 34%;
	width: 25%;
	border: solid 1px #bfbfbf;
	padding: 10px;
	background-color: #F6F6F6;
}

.payments-container {
	width: 100%;
	padding-top: 20px;
}

.users-table .row, .payments-table .row {
	margin: 10px;
}

.users-table .row input, .payments-table .row input {
	width: 100%;
	height: 30px;
	border: solid 1px #bfbfbf;
	border-radius: 2px;
	padding-left: 8px;
	font-size: 15px;
}

button {
	height: 40px;
	width: 25%;
	border-radius: 3px;
	border: solid 1px #DE3641;
	background-color: #DE3641;
	font-size: 20px;
	color: white;
}

select {
	height: 40px;
	width: 40%;
	border-radius: 3px;
	border: solid 1px #bfbfbf;
	font-size: 15px;
	color: #bfbfbf;
	background-color: white;
}

#mode {
	width: 100%;
}

#usersel {
	width: 100%;
}

button:HOVER {
	cursor: pointer;
}

.message {
	background: #66ff8c;
	width: 100%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-radius: 3px;
	border: solid 1px #33ff66;
	position: relative;
	top: 10px;
	color: #00b32d;
	font-family: Arial;
	font-size: 15px;
}

.payment-message {
	background: #66ff8c;
	width: 40%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-radius: 3px;
	border: solid 1px #33ff66;
	color: #00b32d;
	font-family: Arial;
	font-size: 15px;
	margin-top: 20px;
}

.text-label {
	font-family: Arial;
	font-size: 20px;
	color: #DE3641;
	padding-top: 10px;
}

<!--
Column Definition -->.col-1 {
	float: left;
	width: 10%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-2 {
	float: left;
	width: 20%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-3 {
	float: left;
	width: 30%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-4 {
	float: left;
	width: 40%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-5 {
	float: left;
	width: 50%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-6 {
	float: left;
	width: 60%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-7 {
	float: left;
	width: 70%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-8 {
	float: left;
	width: 80%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-9 {
	float: left;
	width: 90%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.col-10 {
	float: left;
	width: 100%;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}

.date-panel {
	float: left;
	width: 200px;
	font-family: Arial;
	padding: 10px;
}

.amount-panel {
	float: right;
	width: 200px;
	font-family: Arial;
	padding: 10px;
	float: right;
}

.date-panel .value, .amount-panel .value {
	font-size: 30px;
	color: #DE3641;
}

.date-panel .label, .amount-panel .label {
	font-size: 20px;
}

.finance-table-title {
	width: 40%;
	position: relative;
	top: 20px;
	left: 25%;
	width: 40%;
	font-size: 25px;
	font-family: Arial;
}

.payment-transactions-container {
	width: 70%;
	position: relative;
	top: 20px;
	left: 15%;
	font-size: 25px;
	font-family: Arial;
}

.payment-transactions-container table {
	width: 100%;
}

.finance-table {
	width: 48%;
	position: relative;
	top: 30px;
	left: 8%;
}

.finance-table thead, .payment-transactions-container thead {
	font-family: Arial;
	font-size: 20px;
	background-color: #106CC8;
}

.finance-table thead td, .payment-transactions-container thead td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.finance-table td, .payment-transactions-container td {
	padding-left: 12px;
}

.finance-table tbody tr, .payment-transactions-container tbody tr {
	background-color: #F6F6F6;
}

.finance-table tbody tr:HOVER, .payment-transactions-container tbody tr:HOVER
	{
	cursor: pointer;
	background-color: #bfbfbf;
}

.finance-table tbody td, .payment-transactions-container tbody td {
	font-size: 17px;
	font-family: Arial;
	padding: 5px 5px 5px 10px;
}

table, tr, td {
	border: solid 1px;
	border-collapse: collapse;
}

.users-table-container {
	font-family: Arial;
	width: 40%;
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

.users-table-container table {
	width: 100%;
	font-family: Arial;
}

.users-table-container td {
	padding: 5px 5px 5px 10px;
}

.users-table-container table thead tr {
	font-size: 20px;
	background-color: #106CC8;
}

.users-table-container table tbody tr {
	font-size: 16px;
	background-color: #F6F6F6;
}