@CHARSET "UTF-8";

:root{
	--color-teal:#009688;
	--color-teal-100:#B2DFDB;
	--color-amber-100:#FFECB3;
	--color-red:#F44336;
}

@ttf:format('truetype');

@font-face{
	font-family:'Roboto-Local';
	src:url('fonts/Roboto-Regular.ttf') @ttf;
}

.message-error{
	color:var(--color-red);
}

.message-success{
	color: var(--color-teal);
}

#reports-panel .header{
	background-color: var(--color-teal);
}

.user-select{
	font-size:x-large;
}

#reports-panel .header .row{
	border: solid 1px #F5F5F5;
}

#reports-panel .content .row{
	border: solid 1px #F5F5F5;
	border-collapse: collapse;
}

body {
	font-family: 'Roboto', Candara;
}

.login-title{
	font-size: 30px;
	color: var(--color-teal);
	font-weight: 500;
}

.site-title {
	font-size: 30px;
	color: var(--color-teal);
	font-weight: bolder;
	padding-left: 10px;
}

.custom-input-container{
	width: 100% !important;
	margin: 0px !important;
}

.card-title{
	color:var(--color-teal);
}

.dues-tile-grid md-grid-list {
	margin: 8px;
}

.dues-tile-grid .gray {
	background: #f5f5f5;
}

.dues-tile-grid .green {
	background: white;
}

.dues-tile-grid md-grid-tile {
	transition: all 400ms ease-out 50ms;
}

.users-list{
	margin-left: 20px;
}

.dues-tile-grid md-grid-tile md-grid-tile-footer {
	background: rgba(0, 0, 0, 0.68);
	height: 36px;
}

.users-tile-grid md-grid-tile md-grid-tile-footer {
	background: rgba(0, 0, 0, 0.68);
	height: 100px;
}

.users-tile-grid md-grid-tile md-grid-tile-footer h2{
	font-size: large;
}