@CHARSET "UTF-8";

:root{
	--color-teal:#009688;
}

.message-success{
	color: var(--color-teal);
}

body {
	font-family: 'Roboto', Arial;
}

.site-title {
	font-size: 30px;
	color: var(--color-teal);
	font-weight: bolder;
	padding-left: 10px;
}

.custom-input-container{
	width: 100% !important;
	margin: 0px !important;
}

.card-title{
	color:var(--color-teal);
}

.users-list{
	margin-left: 20px;
}