@CHARSET "UTF-8";

:root{
	--color-red:#DE3641;
	--color-deeppurple:rgba(63, 81, 181, 1);
}

body {
	font-family: 'Roboto', Arial;
}

.site-title {
	font-size: 30px;
	color: var(--color-red);
	font-weight: bolder;
}

.custom-input-container{
	width: 100% !important;
	margin: 0px !important;
}

.btn-pink{
	background-color: var(--color-red) !important;
	color: white !important;
}

.card-title{
	color:var(--color-deeppurple);
}

.users-list{
	margin-left: 20px;
}